#header_space {
  position: fixed;
  left: 1%;
  right: 22%;
  top: 0px;
  bottom: 0px;
  height: 10%;
}
#work_space {
  position: fixed;
  left: 1%;
  right: 22%;
  top: 10%;
  bottom: 0px;
}
#control_panel_space {
  position: fixed;
  left: 78%;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 22%;
  outline-style: solid;
}
#legend_space {
  position: fixed;
  top: 10%;
  height: 90%;
  width: 20%;
}
#Simulation {
  top: 2%;
  left: 79%;
  margin-bottom: 8%;
  height: 12%;
}
#Parameter_Settings {
  top: 2%;
  left: 80%;
  margin-bottom: 8%;
  height: 35%;
}
#Rotation {
  top: 29%;
  left: 80%;
}
#Basin_Highlighting {
  position: fixed;
  right: 0;
  bottom: 4%;
  width: 22%;
  height: 25%;
}
.boop1 {
  height: 25%;
  width: 45%;
}
.boop2 {
  margin-left: 5%;
  height: 35%;
  width: 40%;
}
.boop3 {
  margin-left: 5%;
  height: 25%;
  width: 40%;
}
.parameters_header {
  margin-top: 2%;
  margin-bottom: 2%;
}
.gen_section_header_text {
  margin-left: 2%;
}
.parameters_header_text {
  display: inline;
  width: 45%;
}
.apply_boop {
  margin-left: 15%;
  margin-right: 10%;
  width: 25%;
}
.parameter_text {
  margin-left: 5%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
}
.simulation_text {
  margin-top: 4%;
  margin-bottom: 1%;
  display: inline-block;
  text-align: center;
  width: 49%;
}
.slider {
  margin-left: 10%;
  width: 80%;
}
.simulation_slider {
  margin-top: 0%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  margin-bottom: 0%;
  display: inline-block;
  width: 40%;
}
.boa_update_form{
  display: inline-block;
  margin-left: 4%;
  width: 45%;
  height: 100%;
}
.boa_list {
  display: inline-block;
  border: solid black 2px;
  height: 80%;
  width: 100%;
}
.boa_toggle_container {
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
  width: 35%;
  height: 80%;
}
.boa_toggle_boop {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#legend {
  overflow: auto;
  top: 5%;
  height: 40%;
  width: 100%;
  position: absolute;
  border: solid black 2px;
  border-radius: 2px;
  background-color: white;
}
.legend_header{
  margin-left: 3%;
}
.legend_column{
  padding: 0 5px 0 5px;
}
.legend_color_box {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  display: inline-block;
}
.legend_button {
  position: absolute;
  top: 45.5%
}
